@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

body{
	background-image:url("https://i.pinimg.com/originals/12/f9/eb/12f9eb376e3f34a1f5429a2d4cacc03c.jpg");
	background-repeat: no-repeat;
	background-size: 110% 110%;
	text-align: left;
}

button{
	border: 2px solid black;
	background: linear-gradient( rgb(13, 223, 238), rgb(62, 178, 255), rgb(0, 23, 141));
	border-radius: 30%;
	cursor: pointer;
	text-align: center;
	color: blue;
}


b, h4{
    font-family: 'Imbue', sans-serif;
    font-size: 15px;
}

@keyframes animationVio{
	10% {
		color: red;
		font-weight: bold;
	}
}

h2{
	animation: animationVio 2s infinite;
}

b:hover{
	color:whitesmoke;
}
summary:hover{
	color: whitesmoke;
}
summary{
	color: rgb(0, 250, 255);
}
strong:hover{
	color: rgb(0, 0, 0);
	font-weight: bold;
}
@keyframes animationViorel{
	30%{
		color: rgb(255, 0, 0);
	}
	50%{
		color: rgb(0, 255, 0);
	}
	100%{
		color:rgb(0, 0, 255);
	}
}

h1{
	animation: animationViorel 2s infinite;
	font-family:'Playwrite CU', sans-serif;
	font-weight: 400;
	font-size: 25px;
}

h4{
	color: white;
}

h4:hover{
	color:rgb(0, 170, 255);
	cursor: copy;
}

h3{
	color: rgb(255, 0, 0);

}
#call:hover, #mail:hover{
	color: red;
}

